/* CSS Document */
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body
{
	margin:0;
}

.contenedorcontenido1
{
	width:100%;
	height:500px;
	background-color:#FC3;
	padding-top:20px;
}
.caja1m
{
	width:100%;
	height:200px;
	margin-top:20px;/*da un espacio en laterales*/
	padding:10px;
}
.caja1m img
{
	width:80%;
	height:250px;
	border-radius:50%;
		
}
.cont1, .cont2
{
	width:100%;
	height:200px;
	display:flex;
	justify-content: right;
	font-size:20px;
	gap:50px;
	
}
.cont2
{
	margin-bottom:60px;
	
	
}
.caja3m
{
	width:400px;
	height:200px;
	font-size:22px;
	
		
}
.caja7m img
{
	width:200px;
	height:200px;
	margin-top:20px;
	padding:10px;
	 
}

/*.contimg
{
	width:100%;
	height:200px;
	display:flex;
	justify-content:center;
	gap:60px;
	
}/**
.caja4m img
{
	width:200px;
	height:200px;
	
}.caja5m img
{
	width:200px;
	height:200px;
	
}
.caja6m img
{
	width:200px;
	height:200px;
	
}*/
@media screen and (max-width:900px)
{
	header
	{
		background-position:center;
	}

	.contenedorcontenido1
	{
		flex-direction:column;
		justify-content:center;
		align-items:center;
		
	}
	.caja1m img, .caja7m img
	{
		height:45%;
	}
	.caja2m p, .caja3m p
	{
	font-size:10px;
	width:100%;
	}
}